@import "fonts";

.c-pointer {
   cursor: pointer;
}

main {
   overflow-x: hidden;

   padding-right: 0.75rem;
   padding-left: 0.75rem;
}

hr {
   position: relative;
   left: -0.75rem;

   width: 100vw;
}

#loader {
   position: relative;
   cursor: pointer;
}
#loader:not(.loading) {
   top: -3px;
}
.loading {
   animation: loading;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
@keyframes loading {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
