.c-pointer {
   cursor: pointer;
}

main {
   overflow-x: hidden;

   padding-right: 0.75rem;
   padding-left: 0.75rem;
}

hr {
   position: relative;
   left: -0.75rem;

   width: 100vw;
}

.loading {
}
#loader {
   position: relative;
   top: -4px;
}

.w-15 {
   width: 15%;
}
.mw-15 {
   max-width: 15%;
}
.h-15 {
   height: 15%;
}
.mh-15 {
   max-height: 15%;
}
.w-10 {
   width: 10%;
}
.mw-10 {
   max-width: 10%;
}
.h-10 {
   height: 10%;
}
.mh-10 {
   max-height: 10%;
}
